/.idea/*
/.gradle/*
/Segundo/AccesoADatos/Practica/segundo_trimestre/netbeans/JavaAplication/nbproject/private/
/Segundo/AccesoADatos/Practica/segundo_trimestre/netbeans/JavaAplication/build/
/Segundo/AccesoADatos/Practica/segundo_trimestre/netbeans/tarea_tiendaJPA/tarea_tiendaJPA/Tarea_Tienda/build/
/Segundo/AccesoADatos/Practica/segundo_trimestre/netbeans/tarea_tiendaJPA/tarea_tiendaJPA/Tarea_Tienda/nbproject/private/
/Segundo/AccesoADatos/Practica/segundo_trimestre/netbeans/Tarea_Tienda/build/
/Segundo/AccesoADatos/Practica/segundo_trimestre/netbeans/Tarea_Tienda/nbproject/private/
