body{
    background-color: aliceblue;
}
table{
    border: 2px solid black;
}
td, th{
    border: 2px solid green;
    background-color: azure;
    padding: 1%;
}
h1{
    color: black;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
h2{
    color: blue;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
.container{
    display: flex;
    wi
}

.elemento{
    padding-left: 5%;
}
p{
    text-align: center;
}
.negrita{
    color: blue;
}