body {
    background-color: purple;
    color: white; 
    text-align: center;
}

.card {
    border-radius: 10%; 
    background-color: white; 
    color: black; 
    text-align: center; 
    margin: 10px;
}

.card-img-top {
    margin: 10px auto auto;
    max-width: 90%; 
    object-fit: cover;
}

.btn {
    background-color: purple; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer;
}